
<h1>Tic tac toe</h1>

<form [formGroup]="form" (ngSubmit)="submit(form.value)">

  <div class="form-group">
    <label for="player1">Name player 1</label>
    <input type="text" class="form-control" formControlName="player1" placeholder="name of player 1">
  </div>

  <div class="form-group">
    <label for="player2">Name player 2</label>
    <input type="text" class="form-control" formControlName="player2">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Play!</button>
  </div>
</form>
